/* Add fonts from fonts directory */

@font-face {
    font-family: 'Helvetica Neue Light';
    src: url('././fonts/HelveticaNeue-Light.otf');
    font-weight: normal;
    font-style: normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue Light', Arial, sans-serif;
    line-height: 1.6;
    color: rgba(0, 0, 0, 0.85);
}

body, html {
    margin: 0;
    padding: 0;
    font-family: "HelveticaNeue-Light", Helvetica, sans-serif, "Helvetica Neue Light";
}

/* Add styles for header, main, and footer */
header {
    padding: 0;
    background: #f4f4f4;
    text-align: center;
}

main {
    padding: 0px;
}

footer {
    padding: 0;
    background: #f4f4f4;
    text-align: center;
}

h1 {
	font-style: normal;
	font-weight: 400;
	padding: 0;
	margin: 0;
	font-size: 4.5rem;
	line-height: 0.9;
	color: rgba(0, 0, 0, 0.85);
	}


h2 {
	font-style: normal;
	font-weight: 335;
	padding: 0;
	margin: 0;
	color: rgba(0, 0, 0, 0.85);
	font-size: 6vmin;
	line-height: 1.4;
    margin-bottom: 10px;
}

h3 {
	font-style: normal;
	font-weight: 335;
	padding: 0;
	margin: 0;
	color: rgba(0, 0, 0, 0.85);
	font-size: 5vmin;
	line-height: 1.4;
    margin-bottom: 10px;
}

h4 {
	font-size: 4vmin;
    font-weight: 300;
    margin-bottom: 10px;
}

h5 {
	font-size: 4vmin;
    font-weight: 300;
    margin-bottom: 10px;
}

h6 {
	font-size: 2.5vmin;
    font-weight: 300;
    margin-bottom: 10px;
}

p {
    font-size: 2vmin;
    margin-bottom: 10px;
}

.site-menu{
    right: 1.7rem; 
    position: fixed;
    z-index: 1;
}

.surrounding-elements {
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    background-color: #eee;
    color: black;
    }
    .surrounding-elements a {
    display: inline-block;
    padding: 10px;
    margin: -10px;
    border: none;
    background-color: transparent;
    color: #366EC3;
    text-decoration: none;
    }
    .surrounding-elements a:hover {
    background-color: #555;
    color: white;
}

/* Add styles for interactive elements (e.g., hover effects) */
a:hover {
    color: #555;
}

/* Add styles for the toggle button */
#menu-toggle {
    display: none;
    font-size: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* Add styles for the responsive navigation menu */
nav.open ul {
    display: block;
}

@media screen and (max-width: 768px) {
    nav {
        text-align: center;
    }

    nav ul {
        display: none;
    }

    nav.open ul {
        display: block;
    }

    #menu-toggle {
        display: inline-block;
    }
}

/* Add styles for full-screen sections */
.full-screen-section {
    width: 100%;
    min-height: 100vh; /* vh stands for viewport height */
    position: relative;
    max-width: 100%;
}

.home-bg {
    background-image: url('././img/IMG_9757.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.research-bg {
    background-color: #366EC3; /* Replace with desired color or use 'background-image' property for an image */
}
 
.field-bg {
    background-color: #F3E4E7; /* Replace with desired color or use 'background-image' property for an image */
}

.code-bg {
    background-color: #d7efed; /* Replace with desired color or use 'background-image' property for an image */
} 

.teaching-bg {
    background-color: #FFEDAD; /* Replace with desired color or use 'background-image' property for an image */
} 

.contact-bg {
    background-color: #DEF0DA; /* Replace with desired color or use 'background-image' property for an image */
} 

.custom-links {
    font-size: 6vmin;
    font-weight: 335;
    color: rgba(0, 0, 0, 0.85);
    margin-bottom: 1.4px;
}



.columns {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
    width: 100%;
}

/* .column {
    flex: 1;
    padding: 0 10px;
    display: flex;
    align-items: shrink;
    width: 100%;
    overflow: hidden;
} */

.column {
    flex: 1;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    overflow: hidden;
  }
  
  
.column img {
    padding: 0 10px;
    width: 100%;
    height: 100%;
    max-width: 1250px;
    object-fit: cover;
    margin-bottom: 0;
    /* object-fit: scale-down; */
}

.single-column {
    display: flex;
    padding: 0 10px;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    width: 100%;
    overflow: hidden;
}

.single-column img {
    width: 100%;
    padding: 0 10px;
    object-fit: cover;
    margin-bottom: 10px;
}

/* figure {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    object-fit: scale-down;
} */


figure {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex: 1;
  }
  
  figcaption {
    text-align: center;
    font-weight: 335;
    font-size: 2.5vmin;
    margin: 15px 0 0 0;
    flex: 1;
    display: flex;
    align-items: center;
    max-height: 100%;
  }
  

/* figcaption {
    text-align: center;
    font-weight: 335;
    font-size: 2.5vmin; 
    margin: 15px 0 0 0;
    flex: 1;
    max-width: 100%; 
} */

@media (max-width: 1000px) {
    .columns {
        flex-direction: column;
    }
} 